#login_page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #login_page > h2 {
    margin: 15px;
  }
  
  #login_page form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  