#profile_page {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  #profile_page > h2 {
    margin: 15px;
  }
  
  #profile_page form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  #profile_page label {
    margin-bottom: 5px;
  }
  
  #profile_page input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  